*{margin:0; padding:0;}
h1, h2, h3{font-size: 100%;line-height: 1.2}
div{box-sizing: border-box;}
html{-webkit-text-size-adjust:100%;height:100%;-webkit-overflow-scrolling:touch;}
body{font-family:'Noto Sans KR', sans-serif; font-size:14px;color:#333; margin: 0;height:100%;-webkit-overflow-scrolling:touch;letter-spacing: -0.2px;}
th,td,input,select,textarea,button{font-family: 'Noto Sans KR', sans-serif; font-weight:400; font-size:15px; color:#333;}
table{border-collapse:collapse;border-spacing:0; table-layout:fixed;}
dl,ul,ol,menu,li {list-style:none;}
img,hr{border:none;}
img{max-width: 100%;height: auto;}

caption{position: relative; overflow: hidden; width: 0px; height: 0px; font-size: 0; line-height: 0;}
legend{position:absolute; height:0; font-size:0; line-height:0; overflow:hidden; text-indent:-9999px;}
address,cite,em,i{font-style:normal;}
fieldset,iframe{border:0;}

header, nav, section, aside, footer, figure{display: block}
article,aside,bdi,details,dialog,figcaption,figure,footer,header,main,mark,menuitem,meter,nav,progress,rp,rt,ruby,section,summary,time,wbr,
body,p,div,ul,li,dl,dt,dd,ol,fieldset,textarea,input,select,table,th,td,address,cite,h1,h2,h3,h4,h5,h6,strong,b,label,pre {font-size:inherit; color:inherit;letter-spacing: -0.3px;}
table {padding:0; border-spacing:0px; border:0; border-collapse:collapse;width: 100%;}
th, td {padding:0px;}
input,select{vertical-align:top; outline:none; }
input[type=text],
input[type=number],
input[type=email],
input[type=tel],
input[type=date],
input[type=password]{display:inline-block;font-size:14px; border:1px solid #ddd; background:#fff; box-sizing:border-box; font-family: 'Noto Sans KR', sans-serif; }
input[type=file],input[type=image],input[type=reset],input[type=button],input[type=submit] {cursor:pointer;}
::placeholder{color: #ccc;}
select	{display:inline-block; width:100%; height:35px; padding:0 0 0 15px; 
border:1px solid #ddd; background:#fff; box-sizing:border-box;
cursor:pointer; font-family: 'Noto Sans KR', sans-serif; border-radius:0;color: #333333;}
textarea	{display:inline-block; width:100%; padding:10px; border:1px solid #ddd; background:#fff; box-sizing:border-box;resize: none;color: #000;}
button {border:0; outline:0; background:transparent; cursor:pointer; font-family: inherit; font-size: inherit; color: inherit}
select::-ms-expand { display: none; }
iframe{border:none; width:100%;}
/* :focus{outline:1 !important;} */
select{appearance:none; /* 기본 스타일 없애기 */-webkit-background-size: 13px;font-size: 13px;
background-size: 14px ;-webkit-appearance:none; -moz-appearance:none; -o-appearance:none;
background-repeat: no-repeat;background-image: url(../images/common/select_i.png);
background-repeat: no-repeat;background-position: right 15px top 50%;}
.blind{display: block; overflow: hidden; position: absolute; top: -1000em; left: 0;}
.align_r{text-align: right;}

input[type=text]{border: 1px solid #eaeaea;}
input[type="checkbox"]{position:absolute;  opacity:0;width: 1px;}
input[type=checkbox] + label i{display: inline-block;width: 19px;height: 19px;
border: 1px solid #eaeaea;margin-bottom: -4px;margin-right:5px ;}
input[type=checkbox]:not(old) + label i{background: none;}
input[type="checkbox"]:checked + label i{background-image:url(../images/common/chk_on01.png);
background-repeat: no-repeat;background-position: center;} 
input[type=text]{height: 30px;}
.btn{display: inline-block;}
.c_red{color: #d12128;}
p{-ms-word-break: keep-all;word-break: keep-all;}
.img_box{display: inline-block;background-repeat: no-repeat;-webkit-background-size: cover;background-size: cover;background-position: center;}
.no_img {background-image: url(../images/common/no_img.png); background-color: #fff;background-repeat: no-repeat; background-position: center;   border: 1px solid #eaeaea;   -webkit-background-size: 60% !important; background-size: 60% !important;}
.no_data{background-image: url(../images/common/no_data.png) !important;background-repeat: no-repeat;  background-position: center;  border: 1px solid #eaeaea;  -webkit-background-size: 40% !important;background-size: 40% !important;}
.c_yellow{color: #ffd83f;}


#heaDer{min-width: 1180px;	}
.header2{height: 130px;background-color: #fed12d;border-bottom: 2px solid #000;}
.header2 .inner:after{content:"";display: block;clear: both;}
.header2 .inner{margin: 0 auto;max-width: 1020px;padding: 0;padding-top: 9px;}
.header2 .inner .logo{float: left;}
.header2 .inner .time{padding-top: 17px;display: inline-block;float: left;margin-left: -14px;}
.header2 .inner .time p{display: inline-block;font-weight: 600;}
.header2 .inner .time p .box{display: inline-block;font-size: 60px;text-align: center;line-height: 77px;font-weight: 500;width: 55px;color: #000;height: 78px; background-image: url(../images/common/time_bg02.png);border: 1px solid #a3937f;-webkit-background-size: cover;background-size:cover ;-webkit-border-radius:5px ;-moz-border-radius:5px ;border-radius: 5px;margin-right: 4px;-moz-box-shadow: 0px 1px 13px -1px #aaa; box-shadow: 0px 1px 13px -1px #aaa;}
.header2 .inner .time p span{display: inline-block;vertical-align: bottom;margin-right: 10px;font-size: 20px;color: #000;}
.header2 .inner .head_link{display: inline-block;margin-top: 12px;}

.main_cnt .m_cnt_wrap, .m_on, .m_img_box{display: none;}
.main_cnt{text-align: center;}
.main_cnt:after{content:"";display: block;clear: both;}
.main_cnt .cnt_wrap:after{content:"";display: block;clear: both;}
.main_cnt .tit_wrap{text-align: center;}
.main_cnt *{letter-spacing: -0.5px;}

.main_cnt.cnt1{background-color: #ffd83f;}
.main_cnt.cnt1 .cnt_wrap{max-width: 1020px; margin: 0 auto;}
.main_cnt.cnt1 .cnt_wrap .txt_l{float: left;width: 40%; margin-top: 35px;}
.main_cnt.cnt1 .cnt_wrap .link_r{float: right; width: 59%; margin-top: 100px;}
.main_cnt.cnt2{background-image: url(../images/common/cnt2_bg.jpg); text-align: center; -webkit-background-size: cover; background-size: cover;}
.main_cnt.cnt2 .cnt_wrap{padding-top: 50px;}
.main_cnt.cnt3{text-align: center;}
.main_cnt.cnt3 .cnt_wrap{padding-bottom: 230px;}
.main_cnt.cnt3 .cnt_wrap .tit{font-size: 60px; font-weight: 700; margin-top: 160px; letter-spacing: -3px; line-height: 1.1;}
.main_cnt.cnt3 .cnt_wrap .tit p{font-size: 55px; letter-spacing: -3px;}
.main_cnt.cnt3 .cnt_wrap .img_box{display: block;}
.main_cnt.cnt3 .cnt_wrap .img_box.top{padding-top: 180px;}
.main_cnt.cnt3 .cnt_wrap .img_box.btm{padding-top: 180px;}
.main_cnt.cnt3 .cnt_wrap .link_btn{ display: inline-block;border-bottom: 1px solid #666;font-size: 26px;color: #666;margin-top: 70px;line-height: 1.3;}
.main_cnt.cnt4{background-color: #333333; padding-bottom: 100px;}
.main_cnt.cnt4 .tit_wrap{ color: #fff;padding-top: 95px;	margin-bottom: 35px;}
.main_cnt.cnt4 .tit_wrap h2{font-size: 40px; font-weight: 700; letter-spacing: -2px;}
.main_cnt.cnt4 .tit_wrap p{font-size: 30px; letter-spacing: -1.5px;}
.main_cnt.cnt4 .tit_wrap span{font-size: 30px; letter-spacing: -1.5px;}
.main_cnt.cnt4 .slide_wrap{padding: 60px 0; background-image: url(../images/common/cnt4_bg.png); -webkit-background-size: cover; background-size: cover;}
.main_cnt.cnt4 .slide_wrap .m_on{display: none;}

.main_cnt.cnt5{background-color: #f5f5e9;text-align: center;padding: 70px 0 50px;}
.main_cnt.cnt5 .link_btn{display: inline-block;margin-top: 25px;}

.main_cnt.cnt6{text-align: center;padding-bottom: 120px;}
.main_cnt.cnt6 .tit_wrap{margin: 70px 0 50px;}
.main_cnt.cnt6 .video_list:after{content:"";display: block;clear: both;}
.main_cnt.cnt6 .video_list{max-width: 1000px;margin: 0 auto;}
.main_cnt.cnt6 .video_list li:after{content:"";display: block;clear: both;}
.main_cnt.cnt6 .video_list li{width: 27.6%;float: left;text-align: center;}
.main_cnt.cnt6 .video_list li:first-child{margin-left: 0 ;}
.main_cnt.cnt6 .video_list li{margin-left: 8.6% ;}
.main_cnt.cnt6 .video_list li .tit{display: inline-block;width: 100%;border-top: 2px solid #000;color: #444;border-bottom: 2px solid #000;letter-spacing: -2px;padding:  16px 0;font-size: 26px;font-weight: 700;}
.main_cnt.cnt6 .video_list li .tit em{font-size: 16px; vertical-align: middle; margin-top: -8px; display: inline-block;}
.main_cnt.cnt6 .video_list li p{color: #d12128;font-size: 20px;font-weight: 500;margin-top: 10px;margin-bottom: 5px;line-height: 1.2;}
.main_cnt.cnt6 .video_list li .link_btn{display: block;margin-top: 5px;webkit-box-shadow: 0px 1px 5px 0px #ccc; -moz-box-shadow: 0px 1px 13px -1px #aaa; box-shadow: 0px 1px 13px -1px #aaa;}
.main_cnt.cnt6 .video_list li .video_txt{display: inline-block;margin-top: 10px;text-align: left;font-size: 16px;color: #555;line-height: 1.2;}
.main_cnt.cnt6 .teacher_box{margin-top: 100px;}
.main_cnt.cnt6 .txt_box{}

.main_cnt.cnt7{background-color: #f5f5e9;padding-top: 72px;padding-bottom: 120px;}
.main_cnt.cnt7 .learn_list:after{content:"";display: block;clear: both;}
.main_cnt.cnt7 .learn_list{max-width: 1000px;margin: 0 auto;margin-top: 40px;}
.main_cnt.cnt7 .learn_list li{width: 19%;float: left;margin-left: 1.25% ;}
.main_cnt.cnt7 .learn_list li:first-child{margin-left: 0 ;}

.main_cnt.cnt8{background-color: #ffd83f;padding: 70px 0 130px;}
.main_cnt.cnt8 .movie_box{margin: 60px 0 20px;}
.main_cnt.cnt9{padding: 140px 0 155px;}

.main_cnt.cnt10{background-color: #f5f5e9;padding: 90px 0 150px;}
.main_cnt.cnt10 .cnt_wrap{max-width: 940px;margin: 0 auto;}
.main_cnt.cnt10 .movie_wrap:after{content:"";display: block;clear: both;}
.main_cnt.cnt10 .movie_wrap{margin-top: 40px;}
.main_cnt.cnt10 .movie_wrap .box{width: 47%;height: 250px;margin-left: 6%;}
.main_cnt.cnt10 .movie_wrap .box iframe{height: 250px;-moz-box-shadow: 0px 1px 13px -1px #aaa; box-shadow: 0px 1px 13px -1px #aaa;}
.main_cnt.cnt10 .movie_wrap .box:first-child{margin-left: 0;}
.main_cnt.cnt10 .movie_wrap .box{float: left;}
.main_cnt.cnt10 .movie_wrap .box100{clear: both;padding-top:  40px;}
.main_cnt.cnt10 .movie_wrap .box100 iframe{width: 100%;height: 450px;-moz-box-shadow: 0px 1px 13px -1px #aaa; box-shadow: 0px 1px 13px -1px #aaa;}

.main_cnt.cnt11{background-color: #ffd83f;padding-top: 65px;}
.main_cnt.cnt11 .cnt_wrap{max-width: 1020px;margin: 0 auto;}
.main_cnt.cnt11 .cnt_wrap .tit_wrap{float: left;padding-top: 35px;}
.main_cnt.cnt11 .cnt_wrap .link{position: relative;float: left;margin-left: -43px;}
.main_cnt.cnt11 .cnt_wrap .link .link_btn{display: inline-block; bottom: 2.5%; width: 70%; right: 13%; height: 22%; position: absolute;}
.main_cnt.cnt11 .m_cnt_wrap .link .link_btn{display: inline-block; bottom: 2.5%; width: 63%; right: 8%; height: 13%; position: absolute;}
.main_cnt.cnt11 .m_cnt_wrap{display: none;}

.footer2{background-color: #333;padding: 65px; 0}
.footer2 *{line-height: 1.3;}
.footer_wrap{font-size: 18px;color: #777;max-width: 1020px;margin: 0 auto;}
.footer_wrap  h3{font-size: 26px;color: #ddd;}
.footer_wrap .sub_tit{display: inline-block;font-size: 18px;color: #fff;margin-top: 25px;}
.footer_wrap p{display: table;}
.footer_wrap p span{display: table-cell;font-size: 18px;}
.footer_wrap p.mt_on{margin-top: 25px;}
.footer_wrap p.mt2{margin-top: 45px;}
.header2.on{position: fixed;left: 0;top: 0;width: 100%;z-index: 100;}
.contents.on{margin-top: 128px;}

.wrap_m{min-width: 100%;}

@media all and (max-width: 1024px) {}
@media all and (max-width: 768px) {
 .main_cnt .m_cnt_wrap{display: block;}
img.m_on{display: block !important;}

.header2{height: 60px;}
.header2 .inner{text-align: center; }
.header2 .inner .logo{display: none;}
.header2 .inner .time{margin-left: 0;float: none;padding-top: 4px;}
.header2 .inner .time p{font-size: 10px;}
.header2 .inner .time p .box{width: 25px;height: 35px;line-height: 35px;font-size: 23px;margin-right: 2px;}
.header2 .inner .time p span{margin-right: 5px;}
.header2 .inner .head_link{width: 85px;margin-top: 2px;}
.header2 .inner .head_link{width: 85px;margin-top: 2px;}

.main_cnt.cnt1 .cnt_wrap, .main_cnt.cnt5 .cnt_wrap, .main_cnt.cnt8 .cnt_wrap{display: none;}
.main_cnt.cnt1 .m_cnt_wrap .txt_l{padding-top:  15px;}
.main_cnt.cnt3 .cnt_wrap{padding-bottom:  35px;}
.main_cnt.cnt3 .cnt_wrap .img_box{display: none;}
.main_cnt.cnt3 .cnt_wrap .m_img_box{display: block;}
.main_cnt.cnt3 .cnt_wrap .m_img_box.tit{margin-top: 35px;}
.main_cnt.cnt3 .cnt_wrap .m_img_box.txt{margin-top: 70px;}
.main_cnt.cnt3 .cnt_wrap .link_btn{font-size: 18px;margin-top: 35px;}
.main_cnt.cnt4{padding-bottom: 55px;}
.main_cnt.cnt4 .tit_wrap{padding:  0 30px;padding-top:  45px;}
.main_cnt.cnt4 .tit_wrap p, .main_cnt.cnt4 .tit_wrap h2{display: none;}


.main_cnt.cnt4 .slide_wrap .pc{display: none;}
.main_cnt.cnt4 .slide_wrap .m_on{display: block;}

.main_cnt.cnt5{padding-bottom: 40px;}

.main_cnt.cnt6 .tit_wrap{margin: 45px 0 50px;}
.main_cnt.cnt6 .tit_wrap img{display: none;}
.main_cnt.cnt6 .tit_wrap img.m_on{display: block;}

.main_cnt.cnt6 .video_list{padding:35px;}
.main_cnt.cnt6 .video_list li{width: 100%;position: relative;margin-left: 0;}
.main_cnt.cnt6 .video_list li .img_box{width: 50%;float: left;}
.main_cnt.cnt6 .video_list li .img_box img{display: none;}
.main_cnt.cnt6 .video_list li .name_box img{display: none;}

.main_cnt.cnt6{padding-bottom: 5px;}
.main_cnt.cnt6 .video_list li .m_box{position: absolute;top: 25px;right: 0;width: 50%;text-align: left;}
.main_cnt.cnt6 .video_list li:first-child .img_box{width: 55%;margin-left: -10px;}
.main_cnt.cnt6 .video_list li:first-child .m_box{top: -8px;}
.main_cnt.cnt6 .video_list li p{font-size: 10px;margin: 0;text-align: center;}
.main_cnt.cnt6 .video_list li .video_txt{font-size: 10px;text-align: left;padding-left: 5px;}
.main_cnt.cnt6 .video_list li .tit{padding: 7px 0;font-size: 13px;}
.main_cnt.cnt6 .video_list li .tit em{font-size: 11px;margin-top: -2px;}
.main_cnt.cnt6 .teacher_box{margin-top: 45px;}
.main_cnt.cnt6 .teacher_box img, .main_cnt.cnt7 .txt_box img,  .main_cnt.cnt6 .txt_box img, .main_cnt.cnt9 .cnt_wrap .txt img{display: none;}
.main_cnt.cnt6 .txt_box{margin-top: 30px;}

.main_cnt.cnt7{padding:30px 0 40px;}
.main_cnt.cnt7 .learn_list{text-align: center;padding: 0 10px;}
.main_cnt.cnt7 .learn_list li{width: 31%;float: none;display: inline-block;margin-bottom: 10px;	}

.main_cnt.cnt8{padding: 40px 0 45px;}
.main_cnt.cnt9{padding: 50px 0;}

.main_cnt.cnt10 .movie_wrap{padding: 0 28px;}
.main_cnt.cnt10 .movie_wrap .box{width: 100%;margin-left: 0;height: 145px;margin-top:  20px;float: none;}
.main_cnt.cnt10 .movie_wrap .box100{height: 145px;margin-top:  20px;padding-top: 0;}
.main_cnt.cnt10 .movie_wrap .box iframe{height: 145px;}
.main_cnt.cnt10 .movie_wrap .box100 iframe{height: 145px;}

.main_cnt.cnt10{padding: 35px 0 45px;}
.main_cnt.cnt10 .txt{padding: 0 30px;}

.main_cnt.cnt11 .cnt_wrap{display: none;}
.main_cnt.cnt11 .m_cnt_wrap{position: relative;display: block;}

.footer2{padding: 30px 15px;}
.footer_wrap{font-size: 10px;}
.footer_wrap h3{font-size: 13px;}
.footer_wrap .sub_tit{font-size: 10px;}
.footer_wrap p.mt_on{margin-top: 15px;}
.footer_wrap p.mt2{margin-top: 15px;}
.footer_wrap p span{display: inline;font-size: 10px;}
.footer_wrap p span br{display: none;}

.header2.on{position: fixed;left: 0;top: 0;width: 100%;z-index: 100;min-width: 100%;}
.contents.on{margin-top: 60px;}

}
/** 급해서 추가했습니다 **/
.add-cart:hover{
	cursor: pointer;
}
.crim-newcontent{
	padding:15px 0;
}
.crim-newcontent h2{
	color:#FFF;
}
.crim-newcontent p{
	color:#FFF;
}
.crim-new-image-section{
	padding:25px 0;
	text-align: center;
}
.crim-new-image-section img{
	margin-bottom: 15px;
}
.embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
}
.embed-responsive::before {
	display: block;
	content: "";
}
.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}
.embed-responsive-21by9::before {
	padding-top: 42.85714%;
}
.embed-responsive-16by9::before {
	padding-top: 56.25%;
}
.embed-responsive-4by3::before {
	padding-top: 75%;
}
.embed-responsive-1by1::before {
	padding-top: 100%;
}
.movie_wrap .embed-responsive{
	margin-bottom: 15px;
}
/** 190829 아이폰 SE/5 화면 깨짐 수정 **/
@media screen and (min-width: 0px) and (max-width: 320px) {
	.header2{height: 61px;background-color: #fed12d;border-bottom: 2px solid #000;}
	.header2 .inner:after{content:"";display: block;clear: both;}
	.header2 .inner{margin: 0 auto;max-width: 1020px;padding: 0;padding-top: 0px;}
	.header2 .inner .logo{float: left;}
	.header2 .inner .time{padding-top: 17px;display: inline-block;float: left;margin-left: 5px;}
	.header2 .inner .time p{display: inline-block;font-weight: 600;}
	.header2 .inner .time p .box{display: inline-block;font-size: 18px;text-align: center;line-height: 30px;font-weight: 800;width: 25px;color: #000;height: 28px; background-image: url(../images/common/time_bg02.png);border: 1px solid #a3937f;-webkit-background-size: cover;background-size:cover ;-webkit-border-radius:5px ;-moz-border-radius:5px ;border-radius: 5px;margin-right: 1px;-moz-box-shadow: 0px 1px 13px -1px #aaa; box-shadow: 0px 1px 13px -1px #aaa;}
	.header2 .inner .time p span{display: inline-block;vertical-align: bottom;margin-right: 0px;font-size: 14px;color: #000;}
	.header2 .inner .head_link{display: inline-block;margin-top: 12px;}
}